<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form name="form" (ngSubmit)="updateBucket()" novalidate>
                <div class="form-group">
                    <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required />
                </div>
                <div>
                    <button [disabled]="loading" class="btn btn-primary" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>