/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('static/image8.jpg');
}
h1{
    color:#772d02;
}
h3{
    color:#ce8404;
}
.bucketButton{
    background-color: #ce8404;
    color:#FFFFFF;
}
