
<div class="col-md-4 offset-md-4 form-container">
    <form class="bucket-form" name="form" (ngSubmit)="register()" novalidate>
            <div style="text-align: center;">
                <h3 > Register</h3>
            </div>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" name="firstName" [(ngModel)]="firstName" required />
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
            
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="userName" [(ngModel)]="model.username" #username="ngModel" required />
        
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
        
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-4">
                     <div class="form-buttons">
                            <button [disabled]="loading" class="btn btn-primary" type="submit">Register</button>
                            <a [routerLink]="['/login']" class="btn btn-link">Login</a>
                        </div>
                </div>
            </div>
    </form>
</div>
